<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Formulario</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:replace= "layout/crear :: header "/>
        <h2>Datos de la persona</h2>
        <a href="@{/}">Regresar</a>
        <br>
        <form th:action="@{/guardarPersona}"
              method="post"
              th:object="${persona}">
            <input type="hidden" name="idPersona" th:field="*{idPersona}"/>
            <label for="nombre">Nombre:</label>
            <input type="text"th:field="*{nombre}"/>
            <br>
            <label for="apellido 1">Apellido 1:</label>
            <input type="text"th:field="*{apellido 1}"/>
            <br>
            <label for="apellido 2">Apellido 2:</label>
            <input type="text"th:field="*{apellido 2}"/>
            <br>
            <label for="correo">Correo:</label>
            <input type="text"th:field="*{correo}"/>
            <br>
            <label for="telefono">Telefono:</label>
            <input type="text"th:field="*{telefono}"/>
            <br>
            <label for="pais">Pais:</label>
            <input type="text"th:field="*{Pais}"/>
            <br>
            <button type="text"th:field="*{Pais}"/>
            <br>
            <button type="submit"class="btn btn-primary"value="Guardar">Submit<button/>
        </form>
        <footer th:replace="layout/crear :: footer"/>
    </body>
</html>
