<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="plantilla/template::head"></head>
    <body>
        <header th:replace="plantilla/template::header"></header>

        <! ------------------------Esto es formulario--------------------!>
        <h1>Datos Personas</h1>
        <a th:href="@{/}">Regresar</a>
        <br><!-- comment -->
        <form th:action="@{/guardarPersona}"
              method="post"
              th:object="${persona}">
            <label for="nombre">Nombre;</label>
            <input type="text" name="nombre" th:field="*{nombre}"/>
            <br><!-- comment -->
            <label for="apellido1">apellido1;</label>
            <input type="text" name="apellidos1" th:field="*{apellido1}"/>
            <br><!-- comment -->
            <label for="apellido2">apellido2;</label>
            <input type="text" name="apellidos2" th:field="*{apellido2}"/>
            <br><!-- comment -->
            <label for="email">email;</label>
            <input type="email" name="email" th:field="*{email}"/>
            <br><!-- comment -->
            <label for="telefono">Telefono;</label>
            <input type="tel" name="telefono" th:field="*{telefono}"/>
            <br><!-- comment -->
            <label for="id">id;</label>
            <input type="hidden" name="id" th:field="*{id}"/> 
            <br><!-- comment -->
            <label for="pais">pais;</label>

            <select th:field="*{pais}">
                <option th:each="x:${paises}"
                        th:value="${x.id}"
                        th:text="${x.pais}"/>
            </select>

            <br><!-- comment -->
            <input type="submit" name="guardar" value="Guardar"/>
        </form>

    </div>
    <footer th:replace="plantilla/template::footer">
        
    </footer>
</body>
</html>
